/*
* @Author: Administrator
* @Date:   2019-06-14 11:53:37
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-23 19:31:41
*/
*{
    padding: 0;
    margin: 0;
}
li{
	list-style: none;
}
a{	
	color:#000 ;
	text-decoration: none;
}
.a{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	font-size : 13px
}
.aa{
	color: #000;
}
.a1{
	padding-left:500px;
}
.a2{
	font-weight:900;
}
.a3{
	padding-left:40px;
}
.a4{
	padding-left:30px;
	font-weight:900;
}
.a5{
	padding-left:10px;
}
.b{
	width: 1200px;
	margin: 0 auto;
	height: 70px;
}
.b1{
	float: left;
}
.b1 img{
	margin-right: 200px;
}
.b2{
	padding-top:20px;
}
.search {
	text-align: center;
	border: 1px solid #000;
    width: 500px;
    height:50px；
}
.submit{
	background:url(search.png) no-repeat center ;
	position: absolute;
	width: 60px;
	height: 40px;
	border: 1px solid #000;
}

.b3{

	float: right;
}

.c{
	width: 1200px;
	margin: 0 auto;
 	height: 50px;
}
.c li{
	text-align: center;
}
.c4{
	display: block;
	width: 100px;
	float: left;
	height: 30px;
	margin-left: 10px;
	padding-top: 7px;
}
.c li a:hover{
	color: #3aa747;
    border-bottom: 5px solid #3aa747;
}
.c3{
	display: block;
	width: 200px;
	float: left;
	height: 40px;
}
.d{
	background: url(banner.png)  center ;
	width: 100%;
	height: 670px;
	border-top: 5px solid #3aa747;
	border-bottom: 2px solid #7f7f7f;
}
.e{
	width: 1200px;
	margin: 0 auto;
	height: 50px;
	margin-top: 20px;
	text-indent : 2em;
}
.e1{
	font-weight:800;
}
.e2{
	color: #7f7f7f;
}
.e3{
	float: right;
	color: #7f7f7f;
}
.f{
	width: 1200px;
	margin: 0 auto;
	height: 200px;
}
.f span{
	display: block;
	float: left;
	text-align: center;
}
.f1{
	width: 120px;
	height: 50px;
	background-color:#e5e5e5;

}
.f2{
	width: 120px;

}
.f3{
	padding-left: 180px;
}
.f4{
	color: #000;
	border: 1px solid #b7b7b7;
	height: 50px;
	line-height: 50px;
}
.f5{
	width: 120px;
	color: #7cc484;
}
.g{
	width:1200px;
	height:750px;
	margin:0 auto;
}
.gg{
	margin:0 auto
}
.gg1{
	margin-left: 40px
}
.gg2{
	border-bottom: 2px red solid; 
	width:40px; 
	height:30px; 
	float: left; 
	padding-left:25px;
}
.g111{
	text-align: center;
}
.g112{
	text-align: center;
}
.g11{
	background:url(img1.png) no-repeat center;
}
.g12{
	background:url(img2.png) no-repeat center;
}
.g13{
	background:url(img3.png) no-repeat center;
}
.g14{
	background:url(img4.png) no-repeat center;
}
.g15{
	background:url(img5.png) no-repeat center;
}
.g16{
	background:url(img6.png) no-repeat center;
}
.g17{
	background:url(img7.png) no-repeat center;
}
.g18{
	background:url(img8.png) no-repeat center;
}
.g1 li{
	float:left;
	width:270px;
	height:290px;
	border:1px #878787 solid;
	margin-right:30px;
	position:relative;
}
.g2 li{
	float:left;
	width:270px;
	height:290px;
	border:1px #878787 solid;
	margin-right:30px;
	margin-top:30px;
	position: relative;

}
.g1 li:last-child{	
	margin-right:0px;
}
.g2 li:last-child{
	margin-right:0px;
}
.g ul{
	margin-left:10px;
}
.g ul li div{
	height:50px;
	width:271px;
	position:absolute;
	bottom:0px;
	left:0px;
	opacity: 0.7;  
	background:black;
}
.g ul li div:first-child{
	width:271px;
	height:280px;
	background:black;
	opacity: 0.7; 
	position: absolute;
    bottom: 0;
    left:0;
    display: none;
}
.g ul li div:first-child div{
	height:160px;	
	top:120px;
	opacity: 1; 
	margin:0 auto;
	width:271px;
	height:70px;
}
.g ul li div:first-child div  p{
		float:left;
		font-size:1.2em;
}
.g ul li div:first-child div {
	margin:0 auto;
}

.g ul li div:first-child div p:last-child{
	float:none;
	margin:0 auto;
	
}
.g ul li  div span,p{
	color:white;
}
.g ul li div{
	padding-top:10px;
}
.g ul li:hover div:first-child{
	display: block;
}
.g ul li:hover div:first-child div{
	display:block;
}

.g ul li:hover div:first-child p{
	display:block;
	color:white;	
}
.g ul li:hover div:last-child{
	display: none;
}
.h{
	height: 100px;
	background-color: #f5f5f5;	
}
.hh{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}
.h11{

	float:left ;
	width:280px;
	height: 100px;

}
.h11 div{
	float: left;
	
}
.h111{
	padding-top: 30px;
}
.h12{
	padding-left: 20px;
	float:left ;
	width: 200px;
	height:60px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	border-right: 1px solid #e1e1e1;
}
.h13{
	padding-left: 20px;
	float:left ;
	width: 200px;
	height:60px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
}
.h5{
	font-size: 20px;
}
.h21{

	float:left ;
	width: 300px;
	height: 100px;
}
.h21 div{
	float: left;
}

.h31{

	float:left ;
	width: 300px;
	height: 100px;
}
.h31 div{
	float: left;
}

.h41{

	float:left ;
	width: 300px;
	height: 100px;
}
.h41 div{
	float: left;
}
.i{
	color: #d6d6d6;
	margin: 0 auto;
	height: 100px;
	text-align: center;
	background-color: #323232;
}
.i1{
	padding-top: 25px;
}
.i2{
	padding-top: 15px;
}
.j1{
 	width: 80px;
    height: 600px;
    position: fixed;
    right: 0;
    top: 200px;
}
.j11{
    height: 120px;
    border-bottom: 2px solid #60625f;
    background: #040b0a url(cart1.png)  no-repeat center center;
}
.j12{
    height: 120px;
    border-bottom: 2px solid #60625f;
    background: #040b0a url(qq.png)  no-repeat center center;
}
.j13{
    height: 120px;
    border-bottom: 2px solid #60625f;
    background: #040b0a url(zuji.png)  no-repeat center center;
}
.j14{
    height: 120px;
    border-bottom: 2px solid #60625f;
    background: #040b0a url(erweima.png)  no-repeat center center;
}
.j15{
    height: 120px;
    background: #040b0a url(gotop.png)  no-repeat center center;
}
